@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

header * {
    font-family: 'Cairo', sans-serif;
}

.nav-link {
    color: white !important;
}

body {
    max-width: 100%;
}

header {
    min-height: 300px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    background-image: url('../../images/bg-nav.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

@media (max-width: 1200px) {
    .navbar-nav {
        display: none !important;
    }

    .navbar-nav__mobile.show {
        display: block !important;
        width: 100%;
    }

    .navbar-nav__mobile ul {
        display: flex !important;
    }

    .toggler {
        display: flex !important;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header {
        justify-content: flex-start;
    }

    nav.navbar {
        display: none;
    }

    .rotate__lg {
        transform: rotate(180deg);
    }
}

.show {
    display: block !important;
}

.toggler {
    padding: 20px;
}

.navbar-nav__mobile, .toggler {
    display: none;
    background-color: #222934;
}

header * {
    color: white;
}

.nav-item {
    position: relative;
    background-color: #2e353d;
    border: 1px solid black;
}

.nav-item .nav-link {
    color: #999 !important;
}

.nav-item .nav-link:hover {
    color: white !important;
}

/* Sub menu */

.sub-menu {
    display: none;
    direction: rtl;
    background-color: #2e353d !important;
    z-index: 9999;
    width: 968px;
    border-top: solid 10px #0eb2bb;
}

.navbar-nav__mobile a {
    color: white !important;
}

.sub-menu li {
    font-weight: bold !important;
    padding: 10px;
}

.sub-menu li:not(:last-child) {
    border-bottom: 1px solid gray;
}

.sub-menu a {
    color: #999 !important;
}

.n-container {
    color: white;
}

.n-container:hover {
    color: #999;
}

.n-container a {
    color: inherit !important;
}

.n-container p {
    color: inherit;
}

.sub-menu a:hover {
    color: white !important;
}

.show {
    display: block !important;
}

/* End sub menu */

ul { margin: 0 !important; padding: 0 !important; list-style-type: none; }
a:not(.nav-link) { text-decoration: none !important; }

.navbar-nav {
    width: 100% !important;
    display: flex;
    flex-direction: row !important;
    direction: rtl !important;
}

.has-sub-menu:hover .sub-menu {
    display: block !important;
}

h1 {
    color: black !important;
}

.navbar-nav__mobile ul {
    display: none;
    flex-direction: column;
    width: 100%;
    direction: rtl;
}

.navbar-nav__mobile ul li {
    width: 100%;
    display: contents;
}

.navbar-nav__mobile ul li .link__container {
    padding: 15px 20px;
    width: 100%;
}

.sub-menu__mobile {
    display: none;
}

.sub-menu__mobile ul {
    padding-right: 40px !important;
    background-color: #1f252f;
}

.sub-menu__mobile li {
    cursor: pointer;
}

.sub-menu__mobile li a {
    padding: 13px 0 !important
}

hr {
    color: #d2d2d254;
}

i {
    transition: all .3s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}

.nav-item:hover .sub-menu {
    display: block !important;
}

.nav-item:nth-child(1) .nav-link.active {
    padding-bottom: 0 !important;
    border-bottom: 8px solid #0eb2bb;
}

.nav-item:nth-child(2) .nav-link.active {
    padding-bottom: 0 !important;
    border-bottom: 8px solid #276eb5;
}

.nav-item:nth-child(3) .nav-link.active {
    padding-bottom: 0 !important;
    border-bottom: solid 10px #b01953;
}

.nav-item:nth-child(4) .nav-link.active {
    padding-bottom: 0 !important;
    border-bottom: 8px solid #f07c00;
}

.nav-item:nth-child(5) .nav-link.active {
    padding-bottom: 0 !important;
    border-bottom: 8px solid #276eb5;
}

.nav-item:nth-child(6) .nav-link.active {
    padding-bottom: 0 !important;
    border-bottom: 8px solid #276eb5;
}

.nav-item:nth-child(7) .nav-link.active {
    padding-bottom: 0 !important;
    border-bottom: 8px solid #d94391;
}

.nav-item:nth-child(8) .nav-link.active {
    padding-bottom: 0 !important;
    border-bottom: 8px solid #744494;
}

.nav-item:nth-child(9) .nav-link.active {
    padding-bottom: 0 !important;
    border-bottom: 8px solid #bdb293;
}

.nav-item:nth-child(10) .nav-link.active {
    padding-bottom: 0 !important;
    border-bottom: 8px solid #32ac63;
}

#sub-menu-2 {
    border-color: #276eb5 !important;
}

#sub-menu-3 {
    border-color: #b01953 !important;
}

#sub-menu-4 {
    border-color: #f07c00 !important;
}

#sub-menu-5 {
    border-color: #d94391 !important;
}

#sub-menu-6 {
    border-color: #744494 !important;
}

#sub-menu-7 {
    border-color: #00b5e2 !important;
}